header {
  background-image: url(../images/header.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

@font-face{
  font-family: Montserrat;
  src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/static/Raleway-Regular.ttf);
}

header,body,section h1 h2 h3 h4 h5 h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header,body,section p button a ul li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin-left: 67px;
  margin-right: 60px;
}

h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
}

.top_left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.top_menu a {
  color: white;
}

.top_menu ul {
  display: flex;
  flex-wrap: wrap;
}

.top_menu ul li {
  margin-right: 40px;
}

.logo {
  margin-right: 80px;
  display: flex;
}

.top_right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.top_right button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 39px;
  font-style: 12px;
  font-weight: 600;
  margin-right: 40px;
  text-transform: uppercase;
}

.lang a {
  color: white;
  font-style: 14px;
  text-transform: uppercase;
}

.lang a:first-child {
  border-right: 1px solid white;
  padding-right: 5px;
}

.lang a:last-child {
  padding-left: 3px;
}

.bottom_line {
  margin-top: 425px;
}

.bottom_container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  flex-direction: column;
  margin-left: 60px;
}

.bottom_container h1 {
  margin-bottom: 30px; 
  color: white;
  font-style: 42px;
  font-weight: 500;
}

.bottom_container p {
  margin-bottom: 40px;
  color: white;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  opacity: 0.7;
}

.bottom_container a {
  font-weight: 500;
  font-style: 16px;
  border-bottom: 1px solid #EEC48B;
  color: #EEC48B;
  text-transform: uppercase;
  padding-bottom: 7px;
  width: 166px;
}

.icon {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;

}

.icon:first-child {
  margin-bottom: 4px;
}

.header_icons {
  position: absolute;
  bottom: 80px;
  right: 0;
}

.krug {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #EEC48B;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 37px;
  bottom: 170px;
}

.lines {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.line1 {
  background-color: #EEC48B;
  width: 30px;
  height: 2px;
  margin-right: 10px;
}

.line2 {
  background-color: #FFFFFF;
  width: 30px;
  height: 2px;
  margin-right: 10px;
  opacity: 0.7;
}

.line3 {
  background-color: #FFFFFF;
  width: 30px;
  height: 2px;
  opacity: 0.7;
}

.sec1 {
  background-color: black;
  color: white;
  padding-bottom: 100px;
  padding-left: 50px;
}

.sec1_left {
  margin-right: 60px;
}

.sec1_container {
  padding-top:100px;
  display: flex;
  align-items: center;
  max-width: 1500px;
}

.sec1_right {
  color: white;
  justify-content: center;
  align-items: center;
}

.sec1 h2 {
  margin-bottom: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
}

.sec1 p {
  margin-bottom: 40px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.7;
}

.sec1_right button {
  color: #EEC48B;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  border-bottom: 2px solid #EEC48B;
  padding-bottom: 10px;
  margin-left: 314px;
}

.sec2 {
  background-image: url(../images/sec2_img.png);
  height: 100vh;
  background-position: center;
  background-size: cover;

}

.sec2_container {
  color: white;
  padding-top: 90px;
  padding-left: 166px;
  max-width: 1500px;
}

.sec2_container h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 30px;
}

.sec2_container p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.7;
  margin-bottom: 40px;
}

.sec2_container button {
  color: #EEC48B;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  border-bottom: 2px solid #EEC48B;
  padding-bottom: 10px;
}

.sec3 {
  background-color: black;
}

.sec3_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 100px;
  max-width: 1500px;
}

.sec3img1 {
  background-image: url(../images/sec3_first_img.png);
  width: 436px;
  height: 436px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minecraft {
  width: 86px;
  height: 87px;
}

.sec3img2 {
  background-image: url(../images/sec3_second_img.png);
  width: 436px;
  height: 436px;
}

.sec3img3 {
  background-image: url(../images/sec3_last_img.png);
  width: 436px;
  height: 436px;
}

.sec3h6 {
  display: flex;
  justify-content: center;
}

.sec3 h6 {
  color: white;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin-top: 40px;
}

.lines2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 100px;
}

.line21 {
  background-color: #EEC48B;
  width: 30px;
  height: 2px;
  margin-right: 10px;
}

.line22 {
  background-color: #FFFFFF;
  width: 30px;
  height: 2px;
  margin-right: 10px;
  opacity: 0.7;
}

.line23 {
  background-color: #FFFFFF;
  width: 30px;
  height: 2px;
  opacity: 0.7;
}

.sec4 {
  background-image: url(../images/sec4_img.png);
  height: 476px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.sec4imgvector1 {
  position: absolute;
  left: 668px;
  top: 75px;
}

.sec4imgvector2 {
  position: absolute;
  left: 390px;
  top: 315px;
}

.sec4imgvector3 {
  position: absolute;
  left: 1028px;
  top: 180px;
}

.sec4imgvector4 {
  position: absolute;
  left: 809px;
  top: 375px;
}

.sec5 {
  background-color: #333333;
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.sec5_container h2{
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.sec5_container p {
  color: white;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.7;
  padding-bottom: 40px;
}

.sec5_container button {
  color: #EEC48B;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  border-bottom: 2px solid #EEC48B;
  padding-bottom: 10px;
  margin-bottom: 90px;
}

.sec6 {
  background: #202020;
  height: 600px;
}

.sec6_container {
  max-width: 1500px;
  display: flex;
  justify-content: space-around;
}

.sec6_left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec6_middle {
  text-align: center;
}

.sec6_middle h2 {
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  padding-top: 100px;
  margin-bottom: 80px;
}

.sec6_middle p {
  color: #FFFFFF;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  opacity: 0.7;
  margin-bottom: 30px;
}

.sec6_middle a {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #EEC48B;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.sec6_container img {
  margin-bottom: 40px;
}


.sec6_right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

footer {
  width: 100%;
  height: 300px;
  background-color: #3E3E3E;
}

.footer {
  color: white;
  max-width: 1185px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.footer_body {
  display: flex;
  justify-content: space-between;
}

.footer_body_left {
  display: flex;
}

.footer_body_left_left {
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #FFFFFF;
  margin-top: 60px;
}

.footer_body_left_left h5 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.footer_body_left_left ul li {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 10px;
  margin-right: 41px;
}

.footer_body_left_middle {
  display: flex;
  flex-direction: column;
  margin-right: 117px;    
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 107px;
}

.footer_body_left_middle li {
  margin-bottom: 10px;
}

.footer_body_left_right {
  list-style: none;
  margin-bottom: 16px;
}

.footer_body_left_right h5 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 60px;
  margin-bottom: 30px;
}

.footer_body_left_right ul li {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 10px;
}

.tel {
  margin-top: 60px;
}

.email {
  margin-bottom: 30px;
}

.icons img{
  margin-right: 15px;
}

.copy {
  text-align: center;
  margin-top: 30px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.7;
}